[flake8]
max-line-length = 120
ignore = 
    # Ignore pycodestyle errors because code style is handled by black
    E, 
    W,
    F401,
    F841,
    D100,
    D101,
exclude = __pypackages__,*.pyi,.venv,temp
per-file-ignores = 
    tests/*:
        D102
        D103
        D104
        D105
        D106
        D107
max-complexity = 10
